html {
	font-family: Sans-Serif;
}

a {
	color: #000099;
	text-decoration: none;
}

div.displayclean {
	border-width:1px 2px;
	width:100%;
	margin-bottom: 5em;
}

div.displayclean > ul {
	position:relative;
	width:100%;

	list-style-type:none;
	margin:0;
	padding:0;
}

div.displayclean > ul > li {
	min-height:7em;
	display:block;
	border-bottom: 1px solid #999999;
	width:100%;
	position:relative;
}

div.displayclean li .line {
	font-size: 2.9em;
	position:absolute;
	bottom:5px;
	left:2px;
	max-width: 6em;
	max-height: 3ex;
	overflow: hidden;
}

div.displayclean li .line .trainno {
	font-weight: normal;
}

div.displayclean li .lineinfo {
	color:#000000;
	font-size: 2em;
	position:absolute;
	bottom:2px;
	left:2px;
}

div.displayclean li .lineinfo .replacement {
	color: #006600;
}

div.displayclean li .lineinfo .replaced {
	color: #660000;
}

div.displayclean li .sbahn {
	font-weight:bold;
	background-color:#95d79f;
	border-radius: 30px;
	padding:3px 6px 2px 6px;
}

div.displayclean li .bahn {
	font-weight:bold;
	border-radius: 5px;
	padding:3px 5px 2px 5px;
	background-color: #eeeeee;
}

div.displayclean li .fern {
	font-weight:bold;
	border-radius: 5px;
	padding:3px 5px 2px 5px;
	background-color: #ffdddd;
}

div.displayclean li .route {
	color:#444444;
	font-size:2.1em;
	position:absolute;
	top:5px;
	left:7.7em;
	height: 1em;
	width: 70%;
	overflow: hidden;
}

div.displayclean li .info {
	color:#ff0000;
	font-size:2.1em;
	position:absolute;
	top:5px;
	left:7.7em;
	height: 1.1em;
	width: 70%;
	overflow: hidden;
}

div.displayclean li .moreinfo {
	color:#000000;
	font-size:2.1em;
	position:fixed;
	top:0em;
	left:0em;
	right:0em;
	bottom:0em;
	background-color: white;
	z-index: 5;
	overflow: auto;
}

div.displayclean li .collapsed-moreinfo {
	display: none;
}

div.displayclean li .expanded-moreinfo {
	display: block;
}

div.displayclean li .moreinfo .mheader {
	text-align: center;
	font-size: 120%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 0.1em dashed #cccccc;
}

div.displayclean li .moreinfo .mfooter {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

div.displayclean li .moreinfo .reason,
div.displayclean li .moreinfo .minfo {
	color: #ff0000;
}

div.displayclean li .moreinfo .timeinfo {
	margin-bottom: 0.6em;
}

div.displayclean li .moreinfo .mroute {
	margin-bottom: 0.6em;
}

div.displayclean li .moreinfo .mroute .separator {
	color: #999999;
}

div.displayclean li .moreinfo .mroute .important-stop {
	color: #000000;
}

div.displayclean li .moreinfo .mroute .generic-stop {
	color: #555555;
}

div.displayclean li .moreinfo .mroute .additional-stop {
	color: #009900;
}

div.displayclean li .moreinfo .mroute .cancelled-stop {
	color: #cc0000;
}

div.displayclean li .dest {
	color:#000000;
	/*font-weight:bold;*/
	font-size:4em;
	position:absolute;
	top:0.65em;
	left:4em;
	bottom:-0.1em;
	width: 70%;
	overflow: hidden;
}

div.displayclean li.cancelled {
	background-color: #ffe7d0;
}

div.displayclean li .countdown {
	color: #000000;
	background-color: #ffffff;
	font-size: 3em;
	position: absolute;
	right: 5px;
	bottom: 2px;
	padding-left: 0.2em;
}

div.displayclean li .header {
	color:#000000;
	font-size:2em;
	font-weight:bold;
	padding-top:8px;
	border-width-top:0;
	display:block;
	text-align:center;
}

div.displayclean li .head {
	border-bottom-width:0;
}

div.displayclean li .countdown .delay {
	font-size:1em;
	color:#FF0000;
	background-color: #ffffff;
	padding-right:7px;
}

div.displayclean li .countdown .undelay {
	font-size:1em;
	color:#006600;
	padding-right:7px;
}

div.displayclean li .countdown .delaynorm {
	font-size:0.9em;
	color:#BB3333;
	padding-right:7px;
}

div.displayclean li .countdown .undelaynorm {
	font-size:0.9em;
	color:#338833;
	padding-right:7px;
}

div.displayclean li .countdown .platform {
	font-weight: bold;
}

div.displayclean li .countdown .changed-platform {
	color:#ff0000;
}

div.displayclean li .time {
	color:#000000;
	background-color: #ffffff;
	font-size:2.4em;
	position:absolute;
	right:5px;
	top:5px;
	padding-left: 0.2em;
}

div.displayclean span.delayed {
	color: #ff0000;
	background-color: #ffffff;
}

div.displaymulti {
	border: 0.2em solid #000066;
	width: 55em;
}

div.displaymulti div.display {
	background-color: #0000ff;
	color: white;
	font-family: Sans-Serif;
	font-weight: bold;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	width: 55em;
	height: 1.4em;
}

div.displaymulti div.display div {
	overflow: hidden;
	position: absolute;
	height: 100%;
}

div.displaymulti div.time {
	left: 0;
	width: 6%;
	font-size: 95%;
}

div.displaymulti div.train {
	left: 5%;
	width: 9%;
	background-color: white;
	color: #0000ff;
	font-size: 95%;
}

div.displaymulti div.via {
	left: 15%;
	width: 35%;
}

div.displaymulti div.via span {
	margin-right: 0.4em;
	font-size: 80%;
}

div.displaymulti div.destination {
	left: 50%;
	width: 25%;
	font-size: 120%;
}

div.displaymulti div.platform {
	left: 75%;
	width: 5%;
}

div.displaymulti div.info {
	left: 80%;
	width: 20%;
	background-color: white;
	color: #0000ff;
	font-size: 80%;
	line-height: 150%;
}

div.displaymulti div.separator {
	border-bottom: 0.1em solid #000066;
}

div.displaysingle div.display {
	background-color: #0000ff;
	color: white;
	font-family: Sans-Serif;
	font-weight: bold;
	position: relative;
	margin-left: 1em;
	margin-top: 1em;
	float: left;
	width: 28em;
	height: 4.5em;
	border: 0.7em solid #000066;
}

div.displaysingle div.display div {
	overflow: hidden;
	position: absolute;
}

div.displaysingle div.no_data {
	top: 0.5em;
	left: 1em;
	font-size: 1.7em;
}

div.displaysingle div.time {
	top: 0em;
	left: 0em;
	font-size: 1.7em;
}

div.displaysingle div.train {
	left: 0em;
	top: 1.8em;
}

div.displaysingle div.via {
	top: 1.5em;
	left: 5.8em;
	width: 17em;
	height: 1em;
}

div.displaysingle div.via span {
	margin-right: 0.4em;
}

div.displaysingle div.destination {
	top: 1.6em;
	left: 3.6em;
	width: 12em;
	font-size: 1.6em;
	height: 1.2em;
}

div.displaysingle div.platform {
	top: 0em;
	right: 0em;
	font-size: 3em;
}

div.displaysingle div.info {
	top: 0em;
	left: 5.8em;
	width: 16.5em;
	height: 1em;
	background-color: white;
	color: #0000ff;
}

ul.ui-autocomplete {
	max-height: 20em;
	overflow-x: hidden;
	overflow-y: auto;
}

div.geolocation {
	text-align: center;
}

div.candidatestatus {
	text-align: center;
	color: #999999;
}

div.candidatelist a {
	display: block;
	text-decoration: none;
	font-size: 1.4em;
	padding-top: 0.3em;
	text-align: center;
	border-bottom: 1px solid #999999;
}

div.candidatelist a .distance:after {
	content: " km";
}

div.candidatelist a .distance {
	font-size: 0.6em;
	color: #999999;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}

div.about {
	margin-top: 2em;
	font-family: Sans-Serif;
	color: #666666;
}

div.about a {
	color: #000066;
	text-decoration: none;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	margin-left: auto;
	margin-right: auto;
}

.error .errcode {
	font-family: Monospace;
	margin-top: 2em;
	font-size: 100%;
	color: #aaaaaa;
}

.container {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

pre {
	margin-bottom: 2em;
}

span.optional,
span.notes {
	color: #666666;
}

div.break {
	height: 1em;
}

div.field {
	margin-top: 0.3em;
	margin-bottom: 0.6em;
}

input, select, .button {
	display: inline-block;
	width: 50em;
	max-width: 100%;
	min-height: 1.8em;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 90%;
	text-align: center;
	vertical-align: middle;
}

input[type="text"] {
	width: 49em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	box-sizing: border-box;
}

select {
	min-height: 2em;
}

input[type="checkbox"] {
	width: 1.5em;
	box-shadow: none;
}

input[type="submit"], .button {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	cursor: pointer;
	box-shadow: none;
	padding-top: 0.9ex;
	padding-bottom: 0.9ex;
}

.button {
	padding-top: 1.1ex;
	padding-bottom: 0;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

input[type="submit"]:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

div.notes {
	margin-top: 2em;
}

div.notes ul {
	margin-top: 1em;
}
