body {
	margin: 0;
}

div.app > ul > li {
	font-size: 35%;
}

div.app li .moreinfo {
	font-size: 2.6em;
}

p,
div.input-field,
div.notes {
	max-width: 94%;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: justify;
}
