div.app {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
	div.app > ul > li {
		font-size: 35%;
	}
}

@media only screen and (min-width: 600px) {
	div.app > ul > li {
		font-size: 40%;
	}
}

div.app .moreinfo {
	font-size: 100%;
}
